.main-page-container {
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff; //test color for now, others should have different
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.server-container-div {
    background-color: #202225;
    width: 3%;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.channel-container-div {
    background-color: #2f3136;
    flex-direction: column;
    width: 12%;
    min-width: 240px;
}


.messages-feed-container-div {
    background-color: #36393f;
    display: flex;
    flex: 1;
    width: 70%;
    min-width: 600px;
    overflow-x: hidden;
}

.online-padding {
    background-color: #2f3136;
    box-sizing: border-box;
    width: 15%;
    min-width: 240px;
}