/* line 1, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-contents-container {
	width: 100vw;
	min-height: 100vh;
	background: #26262b;
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.splash-contents-container {
		width: 100%;
		overflow: hidden;
	}
}

/* line 8, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */

.splash-nav {
	// width: 100%;
	height: 65px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.splash-nav {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
}

.splash-nav-left {
	height: 100%;
	display: flex;
	padding-left: 50px;
}

@media screen and (max-width: 768px) {
	.splash-nav-left {
		height: 100%;
		display: flex;
		padding-left: 0px;
		padding-right: 40px;
	}
}

.splash-nav-right {
	height: 100%;
	display: flex;
	padding-top: 4px;
	padding-right: 50px;
}

@media screen and (max-width: 768px) {
	.splash-nav-right {
		display: none;
	}
}

.splash-nav-image {
	background-image: image_url("pacman-white.png");
	background-size: 40px;
	// height: 100%;
	width: 40px;
	background-repeat: no-repeat;
}

.splash-nav-github-icon {
	background-image: image_url("GitHub-Mark-Light-32px.png");
	background-size: 26px;
	// height: 100%;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}
.splash-nav-linkedin-icon {
	background-image: image_url("In-White-34px-R.png");
	background-size: 30px;
	// height: 100%;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}

.splash-nav-right div:hover {
	cursor: pointer;
}
a {
	cursor: inherit;
}
button.splash-nav-login {
	border: 2px solid hsl(260, 1%, 50%);
	background-color: transparent;
	border-radius: 20px;
	color: hsl(260, 1%, 50%);
	line-height: 24px;
	margin-right: 18px;
	padding: 3px 17px 4px;
	font-size: 13px;
}

button.splash-nav-login:hover {
	border: 2px solid white;
	color: white;
	cursor: pointer;
}

/* line 12, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-nav-title {
	font-family: "Black Ops One", cursive;
	font-size: 28px;
	color: white;
	padding-left: 2px;
	padding-top: 4px;
}

/* line 18, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-about-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 50px 20px;
}

@media screen and (max-width: 768px) {
	.splash-about-images {
		padding: 0px 50px 20px;
	}
}

/* line 22, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */

.splash-about {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.splash-about p {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 30px;
	max-width: 710px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 12px;
	text-align: center;
}

/* line 32, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-about-greeting {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin: 0;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.splash-about-greeting {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.splash-images {
		display: none;
	}
}
.splash-images-inner {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 625px;
	position: relative;
}

button.splash-login-button {
	background-color: #7289da;
	color: #fff;
	width: auto;
	height: 38px;
	min-height: 38px;
	min-width: 96px;
	border-radius: 3px;
	border: none;
	padding: 2px 16px;
	font-size: 13px;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	button.splash-login-button {
		width: 150px;
	}
}

button.splash-login-button:hover {
	cursor: pointer;
	background-color: #657bcc;
}

.desktop {
	background-image: url("katchat-desktop.svg");
	background-repeat: no-repeat;
	height: 469px;
	width: 579px;
	position: absolute;
}

.laptop {
	background-image: url("katchat-laptop.svg");
	background-repeat: no-repeat;
	position: absolute;
	height: 350px;
	width: 608px;
	left: 110%;
}

.controller {
	background-image: url("katchat-controller.svg");
	background-repeat: no-repeat;
	width: 158px;
	height: 108px;
	position: absolute;
	right: 269%;
}

.android {
	background-image: url("katchat-android.svg");
	background-repeat: no-repeat;
	height: 256px;
	width: 135px;
	position: absolute;
	right: 482%;
}

.iphone {
	background-image: url("katchat-iphone.svg");
	background-repeat: no-repeat;
	height: 251px;
	width: 140px;
	position: absolute;
	right: 700%;
}
.bomb {
	background-image: url("katchat-bomb.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	right: 617%;
	bottom: 300px;
	animation: move infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

.coin {
	background-image: url("katchat-coin.svg");
	background-repeat: no-repeat;
	height: 76px;
	width: 75px;
	position: absolute;
	left: 550%;
	bottom: 380px;
	animation: move infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

.box {
	background-image: url("katchat-box.svg");
	background-repeat: no-repeat;
	height: 89px;
	width: 90px;
	position: absolute;
	bottom: 480px;
}

@keyframes move {
	0% {
		transform: translate3d(0, -6px, 0);
	}
	100% {
		transform: translate3d((0, 6px, 0));
	}
}

.splash-footer {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	border-top: 1px solid gray;
}

.splash-footer h2 {
	font-size: 24px;
	padding: 20px 0 20px 0;
	color: rgba(255, 255, 255, 0.6);
}

.splash-footer button {
	margin: 20px 0 20px 0;
	background-color: #7289da;
	color: #fff;
	width: auto;
	height: 38px;
	min-height: 38px;
	min-width: 96px;
	border-radius: 3px;
	border: none;
	padding: 2px 16px;
	font-size: 13px;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.splash-footer {
		display: none;
	}
}
.splash-footer button:hover {
	cursor: pointer;
	background-color: #657bcc;
}
