/* line 1, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-contents-container {
	width: 100vw;
	min-height: 100vh;
	background: #26262b;
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/* line 8, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-nav {
	// width: 100%;
	height: 65px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.splash-nav-left {
	height: 100%;
	display: flex;
	padding-left: 50px;
}

.splash-nav-right {
	height: 100%;
	display: flex;
	padding-top: 4px;
	padding-right: 50px;
}

.splash-nav-image {
	background-image: url("pacman-white.png");
	background-size: 40px;
	// height: 100%;
	width: 40px;
	background-repeat: no-repeat;
}

.splash-nav-github-icon {
	background-image: url("GitHub-Mark-Light-32px.png");
	background-size: 26px;
	// height: 100%;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}
.splash-nav-linkedin-icon {
	background-image: url("In-White-34px-R.png");
	background-size: 30px;
	// height: 100%;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}

.splash-nav-right div:hover {
	cursor: pointer;
}
a {
	cursor: inherit;
}
button.splash-nav-login {
	border: 2px solid hsl(260, 1%, 50%);
	background-color: transparent;
	border-radius: 20px;
	color: hsl(260, 1%, 50%);
	line-height: 24px;
	margin-right: 18px;
	padding: 3px 17px 4px;
	font-size: 13px;
}

button.splash-nav-login:hover {
	border: 2px solid white;
	color: white;
	cursor: pointer;
}

/* line 12, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-nav-title {
	font-family: "Black Ops One", cursive;
	font-size: 28px;
	color: white;
	padding-left: 2px;
	padding-top: 4px;
}

/* line 18, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-about-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 50px 20px;
}

/* line 22, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */

.splash-about {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.splash-about p {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 30px;
	max-width: 710px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 12px;
	text-align: center;
}

/* line 32, /Users/kat/Desktop/katchat/app/assets/stylesheets/splash.scss */
.splash-about-greeting {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin: 0;
	display: flex;
	justify-content: center;
}

.splash-images-inner {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 625px;
	width: 100%;
	position: relative;
}

button.splash-login-button {
	background-color: #7289da;
	color: #fff;
	width: auto;
	height: 38px;
	min-height: 38px;
	min-width: 96px;
	border-radius: 3px;
	border: none;
	padding: 2px 16px;
	font-size: 13px;
	font-weight: 500;
}

button.splash-login-button:hover {
	cursor: pointer;
	background-color: #657bcc;
}

img.desktop {
	position: absolute;
}

img.laptop {
	position: absolute;
	left: 60%;
}

img.controller {
	position: absolute;
	right: 232%;
}

img.android {
	position: absolute;
	right: 482%;
}

img.iphone {
	position: absolute;
	right: 695%;
}
img.bomb {
	position: absolute;
	right: 638%;
	bottom: 300px;
	animation: move infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

img.coin {
	position: absolute;
	left: 635%;
	bottom: 375px;
	animation: move infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

img.box {
	position: absolute;
	bottom: 480px;
}

@keyframes move {
	0% {
		transform: translate3d(0, -6px, 0);
	}
	100% {
		transform: translate3d((0, 6px, 0));
	}
}

.splash-footer {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	border-top: 1px solid gray;
}

.splash-footer h2 {
	font-size: 24px;
	padding: 20px 0 20px 0;
	color: rgba(255, 255, 255, 0.6);
}

.splash-footer button {
	margin: 20px 0 20px 0;
	background-color: #7289da;
	color: #fff;
	width: auto;
	height: 38px;
	min-height: 38px;
	min-width: 96px;
	border-radius: 3px;
	border: none;
	padding: 2px 16px;
	font-size: 13px;
	font-weight: 500;
}

.splash-footer button:hover {
	cursor: pointer;
	background-color: #657bcc;
}
